//define
$break-points: (
sm: 500px,
md: 768px,
lg: 1000px,
xl: 1200px,
);
@mixin mq( $key ) {
  @media ( max-width: map-get( $break-points, $key )) {
    @content;
  }
}
//hunmenu
.navToggle {
  display: block;
  position: fixed;    /* bodyに対しての絶対位置指定 */
  right: 20px;
  top: 15px;
  width: 40px;
  height: 50px;
  cursor: pointer;
  z-index: 4;
  background: #fff;
  text-align: center;
  &.active{ /*展開時のアニメーション*/
    span{
      &:nth-child(1){
        top: 18px;
        left: 6px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &:nth-child(2), &:nth-child(3){
        top: 18px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
  span{
    display: block;
    position: absolute;    /* .navToggleに対して */
    width: 30px;
    border-bottom: solid 3px #d4a145;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    left: 6px;
    &:nth-child(1){
      top: 9px;
    }
    &:nth-child(2){
      top: 18px;
    }
    &:nth-child(3){
      top: 27px;
    }
    &:nth-child(4){
      border: none;
      color: #d4a145;
      font-size: 9px;
      font-weight: bold;
      top: 24px;
    }
  }
}
.globalMenuSp {
  position: fixed;
  z-index: 3;
  height: 100%;
  background-color: #d4a145;
  color: #fff;
  text-align: center;
  transform: translateX(100%);
  transition: all 0.6s;
  width: 100%;
  &.active{
    transform: translateX(70%);
    @include mq(sm){
      transform: translateX(30%);
    }
  }
  ul{
    background: #d4a145;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    z-index: 100;
    li{
      font-size: 1.1em;
      list-style-type: none;
      padding: 0;
      width: 30%;
      border-bottom: 1px dotted #fff;
      @include mq(sm){
        width: 70%;
      }
      .menu_logo{
        width: 50%;
        margin: 15px 5px 15px -30px;
        @include mq(sm){
          width: 55%;
          margin: 20px 20px 25px -30px;
        }
      }
      a{
        display: block;
        color: #fff;
        padding: 1em 0;
      }
      &:last-child{
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }
}
body{
  background-image: url(../../img/back.png);
  line-height: 2.0rem;
}
footer{
  margin: auto;
  text-align: center;
}
section{
  margin: 15px auto;
  padding-top: 25px;
  h2{
    color: #d4a145;
  }
}
.main_width{
  margin: 0px auto 15px;
  width: 80%;
  text-align: center;
  justify-content: center;
  @include mq(sm){
    width: 90%;
  }
}
//top
.toppage{
  .top{
    .back_img{
      width: 100%;
      float: left;
    }
    //slideshow
    #slide{
      position: relative;
      width: 100%;
      z-index: -1;
      .slide_img{
        position: absolute;
        width: 100%;
        height: auto;
        left: 0px;
        top: 0px;
        opacity: 0.5;
      }
    }
    .top_head{
      position: absolute;
      width: 80%;
      margin: 0px auto;
      left: 50px;
      @include mq(sm){
        left: 20px;
      }
      .miraiten_logo{
        width: 60%;
        @include mq(lg){
          width: 85%;
          margin-top: 20px;
        }
        @include mq(md){
          margin-top: 15px;
        }
      }
      .top_text{
        line-height: 1.5rem;
        width: 50%;
        @include mq(sm){
          width: 100%;
        }
      }
    }
  }
  .summry{
    clear: left;
  }
  .display{
    clear: left;
    .main_width{
      .top_dis, .top_pr{
        display: inline-block;
        width: 43%;
        margin: 0 3%;
        @include mq(sm){
          display: block;
          width: 100%;
          margin: 0;
        }
        .sub_title{
          margin-top: 7%;
        }
        .dis_img img, .pr_img img{
          margin: auto;
          width:50%;
          @include mq(sm){
            width: 100%;
          }
        }
      }
    }
  }
}
//access
.access{
  .main_width{
    .miraiten_logo{
      width: 100%;
    }
  }
}
.place{
  .main_width{
    width: 40%;
    @include mq(lg){
      width: 50%;
    }
    @include mq(md){
      width: 65%;
    }
    @include mq(sm){
      width: 90%;
    }
    .img_place1, .img_place2{
      img{
        width: 100%;
      }
    }
    .place_box{
      z-index: 1;
      width: 60%;

    }
  }
}
.place dl.pl_text{
  line-height: 2.0em;
  width: 100%;
  margin: 10px auto;
  @include mq(md){
    width: 80%;
  }
  @include mq(sm){
    width: 95%;
  }
}
.place dt{
  position: relative;
  background-color: #d4a145;
  line-height: 2.0rem;
  float: left;
  clear: left;
  width: 15vmin;
  color: #fff;
  border: 1px solid #d4a145;
  z-index: 2;//親のz-index次第では擬似要素が隠れてしまう
  @include mq(sm){
    line-height: 1.7rem;
    width: 21vmin;
  }
  &:after{
    content: '';
    position: absolute;
    height: 3vmin;
    width: 3vmin;
    background-color: #d4a145;
    transform: rotate(45deg);
    top: 5px;
    right: -11px;
    z-index: -1;
    @include mq(sm){
      height: 5vmin;
      width: 5vmin;
      top: 4px;
      right: -10px;
    }
  }
}
.place dd{
  background-color: #fafad2;
  margin: 0px auto 1px;
}
