/*PCのスタイル*/
header nav {
  margin-right: -16px;
  nav{
    ul{
      display: flex;
      align-items: center;
      li{
        a{
          color: #fff;
          text-decoration: none;
          font-weight: bold;
          padding: 16px ;
        }
      }
    }
  }
}
#nav_toggle{
  display: none;
}

/*メニュー部分*/
@media screen and (max-width:960px){
  nav{
    display: none;
    position: absolute;
    top:72px;
    width: 100%;
    background: #006598;
    left: 0;
  }
  header {
    nav{
      ul{
        display: block;
        margin: 0 auto;
        width: 90%;
        li{
          margin: 0 auto;
          text-align: center;
          border-bottom: 1px solid #fff;
          &:last-child{
            border: none;
          }
          a{
            display: block;
          }
        }
      }
    }
  }
  /*開閉ボタン*/
  #nav_toggle{
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    top: 4px;
    z-index: 100;
    div{
      position: relative;
    }
    span{
      display: block;
      height: 3px;
      background: #fff;
      position:absolute;
      width: 100%;
      left: 0;
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      &:nth-child(1){
        top: 0px;
      }
      &:nth-child(2){
        top: 12px;
      }
      &:nth-child(3){
        top: 24px;
      }
    }
  }
  /*開閉ボタンopen時*/
  .open {
    #nav_toggle{
      span{
        &:nth-child(1) {
          top: 12px;
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          transform: rotate(135deg);
        }
        &:nth-child(2){
          width: 0;
          left: 50%;
        }
        &:nth-child(3){
          top: 12px;
          -webkit-transform: rotate(-135deg);
          -moz-transform: rotate(-135deg);
          transform: rotate(-135deg);
        }
      }
    }
  }
}
