doctype html
html(lang="ja")
 head
   meta(charset="utf-8")
   block title 
   meta(property="og:url" content="http://fundesign.jp/miraiten2019w/")
   meta(property="og:title" content="未来展2019冬" )
   meta(property="og:type" content="webpage")
   meta(property="og:description" content="公立はこだて未来大学情報デザインコースの2年生が授業で制作した成果物の展示会のホームページです。" )

   meta(http-equiv="content-type"  content="text/html" charset="utf-8")
   meta(http-equiv="X-UA-Compatible" content="IE=edge")

   meta(name="viewport" content="width=device-width,initial-scale=1")
   meta(name="description" content="公立はこだて未来大学情報デザインコースの2年生が授業で制作した成果物の展示会のホームページです。")
   meta(name="robots" content="follow")
   meta(name="format-detection" content="email=no,telephone=no,address=no")
   <meta name="keywords" content="はこだて未来展, 2019冬, エンタメ, 屋台, クラウドファンディング, 健康,  展示会, 大学生展示会">

   link(rel="shortcut icon" href="../img/favicon.ico")
   link(rel="stylesheet" type="text/css" href="css/reboot.css")
   link(rel="stylesheet" type="text/css" href="css/main.css")

   script(src="https://use.typekit.net/sqt6uei.js")
   script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
   script(type="text/javascript" src="js/main.js")
  
