html(lang="ja")
  body
    div.back: img.back_img(src="http://fundesign.jp/miraiten2019w/img/white.gif")
    div#slide 
      img.slide_img(src="http://fundesign.jp/miraiten2019w/img/IMG_0103.png" alt="スライド1")
      img.slide_img(src="http://fundesign.jp/miraiten2019w/img/IMG_0127.png" alt="スライド2")
      img.slide_img(src="http://fundesign.jp/miraiten2019w/img/IMG_0130.png" alt="スライド3")
      img.slide_img(src="http://fundesign.jp/miraiten2019w/img/IMG_0096.png" alt="スライド4")
      img.slide_img(src="http://fundesign.jp/miraiten2019w/img/IMG_0382.png" alt="スライド5")
      img.slide_img(src="http://fundesign.jp/miraiten2019w/img/IMG_0386.png" alt="スライド6")
      img.slide_img(src="http://fundesign.jp/miraiten2019w/img/IMG_0412.png" alt="スライド7")
