html(lang="ja")
  head
    link(rel="stylesheet" type="text/css" href="css/reboot.css" media="screen")
    link(rel="stylesheet" type="text/css" href="css/main.css" media="screen")
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    
  body    
    div#slide
      //- ul.slider  
      img(src="../img/IMG_0103.JPG" alt="スライド1")
      img(src="../img/IMG_0127.JPG" alt="スライド2")
      img(src="../img/IMG_0130.JPG" alt="スライド3")
    //- p#nav-r: a(href="#img1") 次へ
    //- p#nav-l: a(href="#") 前へ
