//- headerの記述
head
  title 未来展2019冬
  meta(charset="utf-8")
  meta(property="og:url" content="https://2019w.miraiten.fun/")
  meta(property="og:title" content="未来展2019冬" )
  meta(property="og:type" content="webpage")
  meta(property="og:description" content="公立はこだて未来大学情報デザインコースの2年生が授業で制作した成果物の展示会のホームページです。" )

  meta(http-equiv="content-type"  content="text/html" charset="utf-8")

  meta(name="viewport" content="width=device-width,initial-scale=1")
  meta(name="description" content="公立はこだて未来大学情報デザインコースの2年生が授業で制作した成果物の展示会のホームページです。")
  meta(name="robots" content="noindex,follow")
  meta(name="format-detection" content="email=no,telephone=no,address=no")

  link(rel="shortcut icon" href="img/favicon.ico")
  link(rel="stylesheet" type="text/css" href="css/reboot.css")
  link(rel="stylesheet" type="text/css" href="css/main.css")
  link(rel="stylesheet" type="text/css" href="css/base.css")
  link(rel="stylesheet" type="text/css" href="css/SP.css")

  script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  script(type="text/javascript" src="./js/main.js")
