div.inner.clearfix
  h1: a(href="#"): img(src="../img/menu.gif" alt="")
  div#nav_toggle
    div
      span
      span
      span
  nav
    ul
      li: a(href="https://2019w.miraiten.fun/index.html") トップページ
      li: a(href="https://2019w.miraiten.fun/about.html") 未来展概要
      li: a(href="https://2019w.miraiten.fun/yatai.html") 屋台概要
      li: a(href="https://2019w.miraiten.fun/crowdfunding.html") クラファン概要
      li: a(href="https://2019w.miraiten.fun/access.html") アクセス
