div.inner.clearfix
  h1: a(href="#"): img(src="#" alt="")
  div#nav_toggle
    div
      span
      span
      span
  nav
    ul
      li: a(href="#") menu1
      li: a(href="#") menu2
      li: a(href="#") menu3
      li: a(href="#") menu4
      li: a(href="#") menu5
