doctype html
html(lang="ja")
  include _head.pug
  
  body.toppage
    div.top
      include _slideshow.pug
      div.top_head
        img.miraiten_logo(src="http://fundesign.jp/miraiten2019w/img/SPmiraitenWin_logo1.png" alt="未来展2019タイトル")
        p.top_text 公立はこだて未来大学の情報デザインコース2年生が授業課題で制作したプロダクトを展示及びプレゼンしまっすい。
    
    section.summry
      div.main_width
        h2.sub_title: a(href="about.html") はこだて未来展とは？
        p.sry_text はこだて未来展は、公立はこだて未来大学の情報デザインコース2年生の課題作品を発表する場です。今回の展示会では情報表現基礎3で作成した「IT×道南杉でパフォーマンスを行う作品」と情報デザイン2で作成した「健康に関する作品でクラウドファンディング」の2種類を展示します。
  
    div.display
      div.main_width
        section.top_dis
          h2.sub_title: a(href="work.html") 作品展示
          div.dis_img: a(href="work.html"): img(src="http://fundesign.jp/miraiten2019w/img/display1.png")
          p 授業内で制作した作品を梅吉商店にて展示します。
          div.place: include _umekiti_access.pug      
  
        section.top_pr
          h2.sub_title: a(href="work.html") 公開プレゼンテーション
          div.pr_img: a(href="work.html"): img(src="http://fundesign.jp/miraiten2019w/img/presen1.png")
          p 授業内で制作した作品を弁天町会館にてプレゼンテーションします。
          div.place: include _bennten_access.pug
            
  include _foot.pug
    
