doctype html
html(lang="ja")
  include _head.pug
  body
    section.title
      h1 情報表現基礎3
    section.contents
      h1 屋台
      div.text
        p 屋台の説明と概要
    div.works
      secton.work
        a.work_link(href="#"): img(src="/" alt="作品名")
        p 作品名 制作チーム名
        p 作品説明（コンセプト）
        //- ポップアップで紹介動画を流す＋軽い説明
    
  footer
    include _foot.pug
    
