h2.sub_title: a(href="https://2019w.miraiten.fun/access.html") プレゼンテーション会場
div.img_place2: img(src="https://2019w.miraiten.fun/img/kaiakn.png" alt="弁天町会館")
dl.pl_text
  dt 場所 
  dd 弁天町会館
  dt 会場住所 
  dd 北海道函館市弁天町13-1
  dt 日程 
  dd 1月20日
  dt 開館時間 
  dd 12:30~16:30
  dt 内容 
  dd 公開プレゼンテーション
